body {
    font-family: Arial, sans-serif;
    background-color: #dddddd;
    color: black;
}

div#interface {
    width: 975px;
    height: 2300px;
    background-color: #ffffff;
    margin: -20px auto 10px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    padding: 30px;
}

div#manchete {
    width: 900px;
    height: 120px;
    background-color: rgba(125, 125, 125, 0.7);
}

div#inicio {
    width: 900px;
    height: 800px;
    background-color: white;
}

div#manchete2 {
    width: 900px;
    height: 60px;
    background-color: rgba(125, 125, 125, 0.7);
}

div#frontend {
    width: 430px;
    height: auto;
    background-color: white;
}

div#lateral {
    width: 430px;
    height: auto;
    background-color: white;
    /*posição saber como ajustar o espaço da div lateral*/
    position: relative;
    bottom: 650px;
    left: 470px;
}

div#manchete3 {
    width: 900px;
    height: 60px;
    background-color: rgba(125, 125, 125, 0.7);
    position: relative;
    bottom: 650px;
}

div#backend {
    width: 900px;
    height: auto;
    background-color: white;
    position: relative;
    bottom: 650px;
}

div#sql {
    width: 430px;
    height: auto;
    background-color: white;
    position: relative;
    bottom: 650px;
}

div#php {
    width: 430px;
    height: auto;
    background-color: white;
    /*posição saber como ajustar o espaço da div lateral*/
    position: relative;
    bottom: 1005px;
    left: 470px;
}